.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
}

.p {
  font-size: 17px;
  line-height: 1.2;
}

.cardsView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listView {
  display: flex;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.switch {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 43px;
  padding-right: 29px;
  cursor: pointer;
}

.material-icons {
  color: #696969;
  font-size: 43px;
  background-color: #fff;
  border: none;
}

.shopCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 307px;
  background-color: #f5f5f6;
  margin-top: 3px;
  margin-left: 70px;
  margin-right: 75px;
  margin-bottom: 38px;
  padding-top: 26px;
  border-radius: 1%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.shopCard .heading {
  margin-bottom: 9px;
  z-index: 1;
}

.shopCard p {
  z-index: 1;
}

.shopCard img {
  position: absolute;
  top: 0;
  left: 25px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.bodyCart {
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
  width: 100%;
  z-index: 1;
}

.bodyCart_price {
  color: #18c212;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  margin-top: 7px;
}

.buttonCart {
  color: #30a519;
  text-transform: uppercase;
  background-color: #f5f5f6;
  border: 1px solid #09a516;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 18px;
}

.shopItem {
  width: 1450px;
  height: 95px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap_img {
  position: relative;
  height: 95px;
  width: 140px;
}

.shopItem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  object-fit: cover;
}

.shopItem .heading {
  padding-bottom: 6px;
}
.shopItem .buttonCart {
  margin-right: 21px;
}
